.featured-collection--wrapper {
  border-bottom: 0.1rem solid rgb(219, 219, 219);
}

.s-featured-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
    &__title {
      color: #656874;
      text-align: center;
      font-family: var(--font-heading);
      font-size: 26px;
      font-style: normal;
      font-weight: 900;
      line-height: 36px;

      @media (min-width: 756px) {
        font-size: 42px;
        line-height: 42px;
      }
    }
  
    &__content {
      display: grid;
      row-gap: 50px;
      grid-template-columns: 1fr;
  
      @media (min-width: 756px) {
        row-gap: 119px;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 756px) {
        row-gap: 119px;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  